body
{
    background-color: Aliceblue;
    margin: 0;
    padding: 0;
}
h1
{
    text-align: center;
    background-color: black;
    color: white;
}
h2
{
    text-align: center;
    font-size: 100%;
    color: white;
}
p
{
    font-family: Futura;
    color: black;
}
header
{
     background: black;
     height: 50px;
     width: 100%;
     margin: 0;
     padding: 20px;
}
