body
{
    background-color: Aliceblue;
    margin: 0;
    padding: 0;
}
h1
{
    text-align: center;
    background-color: black;
    color: white;
}
p
{
    font-family: Futura;
    color: black;
}
